.bestsellers-section {
    padding-top: 90px
}

.bestsellers {
    display: flex;
    padding-top: 30px;
}

.bestsellers-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    color: #63584C;
}

.bestsellers-info {
    text-align: center;
    color: #939292
}

.bestsellers-item {
    width: calc((100% - 75px) / 4);
    min-height: 200px;
    margin-right: 25px;
    outline: 1px solid#ccc;
}

.bestsellers-item:nth-child(4n) {
    margin-right: 0;
}

.bestsellers-item__pic-w {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bestsellers-item__pic {
    max-width: 100%;
    max-height: 100%;
}