.main-catalog {
    display: flex;
    padding: 100px 0;
}

.catalog-select {
    width: 310px;
    padding-right: 20px;
}

.catalog-select__title {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 700;
    color: #666565;
    font-family: Arial, Helvetica, sans-serif;
}

.catalog-select__list {
    margin: 20px 0;
}

.catalog-select__item {
    margin-bottom: 10px;
}

.catalog-select-block {
    margin-bottom: 50px;
}


/* Стилизация чекбоксов */

.t-action {
    margin-bottom: 10px;
    cursor: pointer;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
  }

  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #D4651F;
  }

  .custom-checkbox:not(:disabled):active+label::before {
    background-color: #D4651F;
    border-color: #D4651F;
  }

  .custom-checkbox:focus:not(:checked)+label::before {
    border-color: #D4651F;
  }

  .custom-checkbox:checked+label::before {
    border-color: #D4651F;
    background-color: #D4651F;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  .custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
  }

/* Стилизация чекбоксов, конец */


.main-catalog-items {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 310px);
}

.main-catalog-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc(33% - 20px);
}

.main-catalog-item__pic {
  background-image: url('../assets/images/products/1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.main-catalog-item:nth-child(3n) {
  margin-right: 0;
}

.main-catalog-item__title {
  padding: 10px 0;
  text-align: center;
  color: rgb(108,97,86);
  font-weight: bold;
}

.main-catalog-item__price {
  text-align: center;
}