.main-nav {
    padding: 30px 0;
}

.main-nav-list {
    display: flex;
    justify-content: center;
}

.main-nav-item {
    padding: 5px 10px;
}

.main-nav-link {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    user-select: none;
}

.main-nav-link.active {
    color: #D4651F;
}