.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-link {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: color .3s;
}

.nav-link.active {
    color: #C1BE86;
}

.nav-link:hover {
    transition: color .3s;
    color: #C1BE86;
}

.nav-link:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #C1BE86;
    transition: opacity .3s;
    opacity: 0;
}

.nav-link:hover:after {
    transition: opacity .3s;
    opacity: 1;
}

.nav-link.active:after {
    transition: opacity .3s;
    opacity: 1;
}

.main-nav__ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav__li {
    margin-right: 30px;
}

.main-nav__li:last-child {
    margin-right: 0;
}

.main-phone {
    text-align: center;
    text-align: right;
}

.main-phone-link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
}

.main-email-link {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}