.top-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    color: #fff;
    background-color: #D4651F;
    text-align: center;
}

.top-info__text {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
}